.SearchForm {
  background-color: black;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.SearchForm .input {
  border: 5px solid #2f3336;
}

.SearchForm .button {
  background-color: #145a4f;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.SearchForm .button:hover {
  background-image: none;
  background-color: #fff;
  color: #145a4f;
}
